@font-face {
    src: url(./fonts/HabanoST.otf) format('truetype');
    font-family: "HabanoST";
}

::placeholder {
    color: blue;
}

div div{
    border: 1px solid #d9b;
    padding: 20px;
}

.container {
    display: flex;
    font-family: "HabanoST";
    font-size: 100px;
}

