#root {
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 4px;
    margin: 10px auto;
    background: url(./logo.png) no-repeat;
    background-position: 3% 3%;
    height: 300px;
}